.btn-2 {
border: solid 1px #363838;
width: 255px;
}
.btn {
  width: 255px;
  background-color: #8BC4B5
  }
  .btn-3 {
    background-color: #8BC4B5
    }
.text-1 {
  color: #587673;
  text-decoration:underline ;
}
.login-1 {
border: solid 1px #587673;
border-radius: 10px;
}